/* Control + Alt + C Color picker*/
body {
  margin: 0;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 45px;
  text-align: center;
  margin: 0;
  padding: 20px;
  border-bottom: 1px solid gray;
}

input {
  float: right;
}

h2 {
  margin: 0px;
}

ol {
  width: 100px;
  margin: 0;
  padding: 20px;
}

div {
  padding: 10px;
}

#grid {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
}

#link {
  font-size: 20px;
}

#content {
  border-left: 1px solid gray;
}

@media (max-width:600px) {
  #grid {
    display: block;
  }

  #steps,
  ol {
    padding: 10px;
  }

  #content {
    border-left: none;
  }

  h2 {
    font-size: 45px;
  }
}

#onoff{
  background: black;
  border: none;
  color: white;
  width:70px;
  height: 50px;
}
#onoff:hover{
  background-color: white;
  color: black;
}
/*
class= .className
id= #.idName
*/
