/*
class= .className
id= #idName
tag= tagName
*/
button {
  width: 120px;
  height: 80px;
  font-size: 50px;
  border: none;
}
button:hover{
  background-color: black;
  color: white;
}
#result{
  width: 500px;
  height: 30px;
  font-size: 25px;
  text-align=right;
}
#clear{
  width: 245px;
}
#sentense {
  width: 500px;
  height: 80px;
  font-size: 50px;
  text-align=right;
}
table{
  margin: auto;
  margin-top: 50px;
}
